* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}
header {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

nav {
	flex: 2;
}

.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;
}

.myresume{
	padding: 50px;
	text-align: center;
}

.skills h3{
	text-decoration: underline;
}

.edu h3{
	text-decoration: underline;
}

.job h3{
	text-decoration: underline;
}

.vol h3{
	text-decoration: underline;
}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}
.small-circle {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}